.gomb{
    padding: 50px;
    text-align: center;
}
.doboz{
    background-color: rgba(70, 70, 70, 0.61);
    margin: auto;
    width: 50%; 
    padding: 10px;}
.keret{
    font-size: 3rem;
}
.cim{
    font-size: 3rem;
}
.kep{
    border-radius: 10px;
}
.leiras{
    font-size: 1.2rem;
    text-align: justify;
}
.icon{
    width: 70px;
    height: 70px;
}
.gomb a{
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.75s;
}
.gomb a:hover{
    color: rgba(0, 0, 0, 0.694);
    text-decoration: underline;
}