body{
    /* margin-right: 140px;
    margin-left: 140px; */
    background-image: url(../Project/asdsasx.jpg) ;
    background-color: #a1c4b7;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.div2{
    border: black solid 0.125rem;
    margin-right: 37.5rem;
    text-align: justify;
    padding: 0.625rem;
    margin-left: 13.75rem;
    border-radius: 0.625rem;
    background-color: lightsteelblue;
    background-size: cover;
    
}

.div4{
    border: black solid 0.125rem;
    margin-right: 6.25rem;
    text-align: justify;
    padding: 0.625rem;
    margin-left: 13.75rem;
    border-radius: 0.625rem;
    background-color: lightsteelblue;
    background-size: cover;
}

#kiskep{
    text-align: center;
    
}

#kiskep img {
    cursor: pointer;
    width: 12.5rem;	
}

.footer1{
    border: 0.188rem gray solid;
    /* margin-top: 10px; */
}
.footer2{
  border: 0.188rem gray solid;

}
.footer3{
  border: 0.188rem gray solid;
  margin-top: 3.125rem;
}
.footer4{
  border: 0.188rem gray solid;
  margin-top: 11.3rem;
}


.img1{
    width: 30%;
    margin-right: 7.5rem;
    border: 0.125rem solid black;
    border-radius: 1.563rem;
}

.img2{
    width: 6.25rem;
    margin-left: 2.5rem;
    margin-bottom: 0.188rem;
}
.img3{
    width: 30%;
    margin-right: 12.5rem;
    border: 0.125rem solid black;
    border-radius: 1.563rem;
}

.elvalaszto{
    border: solid 0.12rem black;
    border-radius: 1.875rem;
}

.navbar-collapse{
    margin-left: 51.563rem;
}

.navbar-brand{
    font-size: 150%;
    margin-left: 1.563rem;
    margin-right: 0.188rem;
    border: solid black 0.125rem;
    border-radius: 2.25rem;
    background-color: darkgray;
}

.cim{
    margin-left: 25rem;
    color: whitesmoke;
  }
.cim2{
  margin-left: 36rem;
  color: whitesmoke;
}
.cim3{
  margin-left: 22.6rem;
  color: whitesmoke;
}
.cim4{
  margin-left: 27rem;
  color: whitesmoke;
}

.carousel{
  position: relative;
  margin: 0 auto;
  margin-left: 31.25rem;
  width: 37.5rem;
}


.dropdown-menu{
  background-color: darkgray;
}
.div3{
  border: 0.125rem solid black;
  border-radius: 1.25rem;
  margin-left: 21.875rem;
  margin-right: 12.5rem;
  background-color: #555;
  border-width: auto;
  color: whitesmoke;
}

#sb1{
  height: 43.5rem;
}

#sb2{
  height: 57.063rem;
}

#sb3{
  height: 43.625rem;
}

#sb4{
  height: 42.8rem;
}

















 /* The side navigation menu */
 .sidebar{
    margin: 0;
    padding: 0;
    width: 12.5rem;
    background-color: #f1f1f1;
    position: absolute;
    overflow: auto;
  }

  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 1rem;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 12.5rem;
    padding: 0.063rem 1rem;
    height: 62.5rem;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 43.75rem) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 25rem) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  } 